body {
  margin: 0px;
}

.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 0.75fr 2fr 0.75fr;
  grid-template-rows: 50px auto;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 0.75fr 2fr 0.75fr;
  border-bottom: 1px solid black;
}

.header > span {
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}

.left-sidebar {
  grid-column: 1/2;
  background-color: #eef1f4;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Chat area */
.chat-area {
  /* grid-column: 2/3; */
  grid-column: 1/3;
  display: grid;
  grid-template-rows: auto 100px;
  overflow-y: scroll;
  position: relative;
}

.chat-area::-webkit-scrollbar {
  display: none;
}

button[type="button"] {
  cursor: pointer;
}

/* Meassage area */

.message-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 0px;
}

.message-area > div {
  margin: 0px 10px;
}
.message-area .bot {
  align-self: flex-start;
  border-bottom-left-radius: 0px;
}

.message-area .user {
  align-self: flex-end;
  border-bottom-right-radius: 0px;
}

/* Container for all types of messages */
.message {
  background-color: #91baff;
  padding: 10px;
  border-radius: 12px 12px 12px 0px;
}

/* Message of recipe suggestions */
.list-of-suggestions-container {
  display: flex;
  flex-direction: column;
  background-color: #91baff;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
}

.list-of-suggestions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 120px;
  border-radius: inherit;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #cdd5de;
  padding: 10px;
}

.list-of-suggestions::-webkit-scrollbar {
  display: none;
}

.suggestion {
  display: flex;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #eef1f4;
  min-height: 80px;
  gap: 10px;
  background-color: white;
}

.suggestion > div {
  display: flex;
}
.suggestion div:nth-child(2) {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/* Message of findings (food) on photo */
.list-of-findings-container {
  display: flex;
  flex-direction: column;
  background-color: #91baff;
  gap: 10px;
  padding: 10px;

  border-radius: 12px;
}

.list-of-findings {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  height: 50px;
  border-radius: inherit;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #cdd5de;
  padding: 10px;
}

.list-of-findings::-webkit-scrollbar {
  display: none;
}
.finding {
  background-color: white;
  padding: 10px;
  border-radius: inherit;
  display: flex;
  justify-content: space-between;
}

.finding-confirmation-button {
  align-self: flex-end;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  border: none;
}

/* Message with photo */
.message-with-photo {
  height: 200px;
  background-color: #91baff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
}

.user-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

/* Form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.7);

  position: sticky;
  bottom: 0;
}

#submit-form {
  border-radius: 16px;
  border: 1px solid #cdd5de;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-basis: 520px;
}

#submit-form input {
  display: none;
}

.custom-button {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px;
}

#submit-form button {
  border: none;
  border-top: 1px solid #cdd5de;
  background-color: #f8f9fa;
  cursor: pointer;
  padding: 6px;
}

/* Right sidebar */

/* Better be done with grid */
.saved-recipes-container {
  border-left: 1px solid black;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  justify-content: space-between;
  overflow-y: auto;
}

.extra-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  overflow-y: auto;
  gap: 10px;
}

.list-of-saved-recipes {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: 91%;
}

.list-of-saved-recipes::-webkit-scrollbar {
  display: none;
}
