body {
  margin: 0px;
}

.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
}

.left-sidebar {
  grid-column: 1/2;
  background-color: #eef1f4;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Chat area */
.chat-area {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 0.9fr auto;
}

/* Meassage area */
.message-area {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.message-area > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.user-messages {
  margin-bottom: 10px;
  margin-right: 10px;
}

.user-messages > div {
  border-radius: 12px;
  border-bottom-right-radius: 0px;
}

/* Container for all types of messages */
.message {
  background-color: #91baff;
  padding: 10px;
  border-radius: 12px 12px 12px 0px;
}

/* Message of recipe suggestions */
.list-of-suggestions-container {
  display: flex;
  flex-direction: column;
  background-color: #cdd5de;
  gap: 10px;
  padding: 10px;
  border-radius: 12px 12px 12px 12px;
}

.list-of-suggestions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: 120px;
  border-radius: inherit;
}

.suggestion {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;
  min-height: 80px;
  justify-content: space-between;
  padding: 10px;
  border-radius: inherit;
}

.upper,
.lower {
  display: flex;
}

.upper {
  justify-content: space-between;
}

.lower {
  align-self: flex-end;
}

/* Form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px black solid;
}

#submit-form {
  border-radius: 16px;
  border: 1px solid #cdd5de;
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
  overflow: hidden;
  flex-basis: 520px;
}

#submit-form input {
  display: none;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px;
}

#submit-form button {
  border: none;
  border-top: 1px solid #cdd5de;
  background-color: #f8f9fa;
  cursor: pointer;
  padding: 6px;
}
